<div class="row">
    <div class="col s12 m6 l6">
        <h3 class="header">Tablero</h3>
    </div>
    <div class="col s12 m6 l6">
        <h5 class="right-ch"><img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-main circle1"> Antonella Peacecraft</h5>
    </div>
</div>


<div class="row mar-top-soft">

    <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
        <div class="row ">
            <div class="col s12">
                <div class="panel panel-fix">
                    <h1><i class="icon-linear-apartment sa-d-i"></i>  {{ instituciones|length }}</h1><h5>Instituciones</h5>
                </div>


            </div>
        </div>
    </div><!-- endWidget 1-->


    <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
        <div class="row ">
            <div class="col s12">
                <div class="panel panel-fix">
                    <h1><i class="icon-linear-users2 sa-d-i"></i>  {{ alumnos|length }}</h1><h5>Alumnos inscriptos</h5>
                </div>


            </div>
        </div>
    </div>


</div>
