<div class="row">
    <div class="col s12 m6 l6">
        <h3 class="header">Tablero</h3>
    </div>
    <div class="col s12 m6 l6">
        <h5 class="right-ch"><img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-main circle1"> Antonella Peacecraft</h5>
    </div>
</div>

<main> <!-- startMain content-->
    <div class="container fadeIn animated">
        <div class="row">

            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="col s10 m10 l10">
                        <h4 class="header">Editar grupo</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <div class="input-field col s12 m6 l12">
                            <input value="Grupo 1" id="nombre_inst" type="text"
                                   class="validate">
                            <label for="nombre_inst" class="">Nombre del
                                Grupo</label>
                        </div>
                        <div class="input-field col s12 m6 l12">
                            <input id="nombre_inst" type="text"
                                   class="validate">
                            <label for="nombre_inst" class="">Nombre de
                                usuario</label>
                            <a href="#"
                               class=" btn-xsmall btn-xsmall-fix waves-effect waves-light">Agregar
                                al grupo</a>
                        </div>
                    </div>

                    <div class="col s12 m12 l6">
                        <div class="panel panel-grupos center-align">
                            <h5>Grupo: <span><strong>Grupo 1</strong></span>
                            </h5>
                            <h6>Usuarios: <span><strong>6</strong></span></h6>
                            <a href="#"
                               class="btn-flat waves-effect waves-light">Guardar</a>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col s12 mar-top-soft">
                        <ul class="collection">
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 6</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 5</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 4</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 3</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 2</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>
                            <li class="collection-item"><a
                                        href="grupos-fichausuario_directivo.html"><span>Nombre de usuario 1</span></a><a
                                        href="usuarios-docentes-editar_directivo.html"
                                        data-position="left" data-delay="25"
                                        data-tooltip="Eliminar"
                                        class="coll-btn-fix secondary-content tooltipped btn-small btn waves-effect waves-light"><i
                                            class="icon-linear-trash"></i></a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <!--  End Tables Section  -->
            <div class="row">

                <div class="col s12 m12 l12 mar-top-soft">
                    <ul class="pagination pagi-pad">
                        <li class="disabled"><a
                                    href="under-construction.html"><i
                                        class="icon-linear-chevron-left"></i></a></li>
                        <li class="active"><a
                                    href="under-construction.html">1</a></li>
                        <li class="waves-effect"><a
                                    href="under-construction.html">2</a></li>
                        <li class="waves-effect"><a
                                    href="under-construction.html">3</a></li>
                        <li class="waves-effect"><a
                                    href="under-construction.html">4</a></li>
                        <li class="waves-effect"><a
                                    href="under-construction.html">5</a></li>
                        <li class="waves-effect"><a
                                    href="under-construction.html"><i
                                        class="icon-linear-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

</div>