{% extends '::base.html.twig' %}

{% block body -%}

  

 <!-- startMain content-->
<div class="container">
  <div class="row mar-top-xl mar-bot-xl">
    <div class="col s12 m8 l12 center-align">
      <i class="icon-linear-brain icon-uc-size"></i>
      <h3 class="">Esta p치gina se est치 dise침ando</h3>
      <h5 class="">Estar치 disponible proximamente...</h5>
    </div>
  </div>
</div>
 <!-- end Main content-->

  {{ include('footer.html.twig') }}
{% endblock %}
