{% extends 'BoletinesBundle:Layout:error.html.twig' %}
{% block title %}Error{% endblock %}
{% block page %}
    <div class="row mar-bop-xl">

        <div class="col s12 m8 l12 center-align">
            <i class="icon-linear-brain icon-uc-size"></i>
            <h3 class="">Ha ocurrido un error ...</h3>
            <h5 class="">Se ha enviado un correo al administrador del sitio para que intente solucionarlo.</h5>
        </div>

{% endblock %}