<!-- Fixed nav -->
<div class="navbar-fixed">
<ul id="dropdown1" class="dropdown-content drop-user">
  <li><a href="/logout" class="t-s du"><i class="icon-linear-exit-left left"></i> Cerrar sesión</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content drop-notification">
  <span class="circle dot"></span>
  <div clasS="notifi"><h6>Notificaciones</h6></div>
  <li><a href="#!" class="t-s">Las asistencias han sido actualizadas<br><span class="ts-s">Hace 20 minutos</span></a></li>
  <li class="divider"></li>
  <li><a href="#!" class="t-s">Su hijo se porto mal<br><span class="ts-s">Hace 2 horas</span></a></li>
  <li class="divider"></li>
  <li><a href="#!" class="t-s">Suspensión de clases<br><span class="ts-s">Ayer</span></a></li>
</ul>
<ul id="dropdown3" class="dropdown-content drop-messages">
  <span class="circle dot"></span>
  <div clasS="notifi"><h6>Mensajes</h6></div>
  <li><a href="#!" class="t-s"><b>Jorge Perez</b> te ha enviado un mensaje<br><span class="ts-s">Hace 10 minutos.</span></a></li>
  <li class="divider"></li>
  <li><a href="#!" class="t-s"><b>John Pol</b> te ha enviado un mensaje<br><span class="ts-s">Hace 20 minutos.</span></a></li>
  <li class="divider"></li>
  <li><a href="#!" class="t-s"><b>Marta Sanchez</b> te ha enviado un mensaje<br><span class="ts-s">Hace 20 minutos.</span></a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img class="responsive-img logo" src="{{ asset('bundles/boletines/images/communitas-logo-s.png') }}"></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button ic" href="#!" data-activates="dropdown2"><i class="icon-linear-alarm"><span class="badge1 badge1-danger circle">3</span></i></a></li>
      <li><a class="dropdown-button ic" href="#!" data-activates="dropdown3"><i class="icon-linear-envelope"><span class="badge1 badge1-danger circle">1</span></i></a></li>
      <li><a class="dropdown-button ic" href="#!" data-activates="dropdown1">Super Admin<i class="icon-linear-chevron-down right"></i></a></li>
    </ul>
  </div>
</nav>
</div>
