<!-- Main nav -->

 <nav class="main-nav">

  <div class="main-nav-wrapper sa-nav">

    <ul class="hide-on-med-and-down">
      <li class="main-nav-pad center-align"><a href="{{ path('home_admin') }}" class="{% if nav_selected == 'home_admin' %}active{% endif %}"><i class="icon-linear-history icon-nav-size"></i><br><span>Inicio</span></a></li>
      <li class="main-nav-pad center-align"><a href="{{ path('institucion') }}" class="{% if nav_selected == 'instituciones' %}active{% endif %}"><i class="icon-linear-city icon-nav-size"></i><br><span>Instituciones</span></a></li>
      <li class="main-nav-pad center-align"><a href="{{ path('usuario') }}" class="{% if nav_selected == 'usuarios' %}active{% endif %}"><i class="icon-linear-users icon-nav-size"></i> <br><span>Usuarios</span></a></li>
    </ul>
  </div>

 </nav>
