{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Institucion creation</h1>

<h2>{{ mensaje }}</h2>

    <form action="{{ path('boletines_nueva_institucion') }}" method="post">
        <input type="text" placeholder="nombre" name="name"><br/>
        <input type="text" placeholder="direccion" name="direccion"><br/>
        <input type="text" placeholder="Telefono" name="telefono"><br/>
        <input type="text" placeholder="email" name="email"><br/>
        <input type="submit" /><br/>
    </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('boletines_instituciones') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
