{% extends '::base.html.twig' %}

{% block body -%}

  {{ include('BoletinesBundle::Institucion/fixed_nav.html.twig') }}
  {{ include('BoletinesBundle::Institucion/main_nav.html.twig', {'nav_selected': 'instituciones'}) }}

 <!-- startMain content-->
<div class="container">
  <div class="row mar-top-soft">
        <div class="col s10 m10 l10">
          <h3 class="header">Nueva institución</h3>
        </div>
  </div>
  {% if error %}
    <div class="error-msg center-align"><i class="icon-linear-cross"></i> Alguno de los datos ingresados son incorrectos o no fueron ingresados</div>
  {% endif %}
  <form action="{{ path('institucion_new') }}" method="post" enctype="multipart/form-data">
  <div class="row">
        <div class="input-field col s12 m6 l6">
            <input id="nombre_inst" type="text" class="validate" name="nombreInstitucion">
            <label for="nombre_inst">Nombre de la institución</label>
        </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
        {# <form action="#"> #}
            <div class="file-field input-field">
              <input class="file-path validate" type="text"/>
              <label for="logo_img">Logotipo de la institución</label>
              <div class="btn-large">
                <span>Elegir archivo</span>
                <input type="file" name="logoInstitucion" />
              </div>
           </div>
        {# </form> #}
    </div>
  </div>
    <div class="row">
      <div class="col s12 m12 l12 card-panel orange lighten-5 mar-top">
          <div class="col s1 m1 l1">
              {# <form action="#"> #}
                <p class="right-align">
              <input type="checkbox" id="test5" name="crearEstablecimiento"/>
              <label for="test5"></label>
                </p>
              {# </form> #}
            </div>
            <div class="col s11 m11 l11"><h5>¿Desea crear un establecimiento?</h5></div>
      </div>
    </div>

  <div class="row">
      <div class="col s12 center-align"><button type="submit" class="btn-large waves-effect waves-light center-align">Guardar y agregar el primer establecimiento</button></div>
  </div>
  </form>
  </div>   <!-- end container-->

 <!-- end Main content-->
{{ include('::footer.html.twig') }}
{% endblock %}
