{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Convivencia creation</h1>


    <form action="{{ path('convivencia_new') }}" method="post">

        <input type="text" placeholder="Ingrese Comentario" name="comentarioDocente"><br/>
        <input type="text" placeholder="Ingrese Descargo" name="descargoAlumno"><br/>
        <input type="text" placeholder="Fecha suceso" name="fechaSuceso"><br/>

        <select name="idAlumno">
            {% for alumno in entitiesRelacionadas %}

                <option value="{{alumno.idAlumno}}">{{alumno.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">Seleccione una alumno creada</option>
        </select>
        <br/><br/><br/>

        <button type="submit" >Crear Convivencia</button>


        <br/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('convivencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
