{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Asistencia creation</h1>


    <form action="{{ path('asistencia_new') }}" method="post">

        <input type="text" placeholder="fecha" name="fechaAsistencia"><br/>

        <select name="idMateria">
            {% for materia in entitiesRelacionadas %}

                <option value="{{materia.idMateria}}">{{materia.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">Seleccione una materia creada</option>
        </select>
        <br/><br/><br/>

        <button type="submit" >Crear Asistencia</button>


        <br/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('asistencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
