{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Mensaje</th>
            <td>{{ mensaje.id }}</td>
        </tr>
        <tr>
            <th>Titulo Mensaje</th>
            <td>{{ mensaje.titulo }}</td>

        </tr>
        <tr>
            <th>Mensaje</th>
            <td>{{ mensaje.texto }}</td>

        </tr>
        <tr>
            <th>Enviado el dia</th>
        </tr>
        <tr>
            <th>Enviado por</th>
        </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
           Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
