{% extends 'BoletinesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} -  En construccion
{% endblock %}

{% block page %}

<h1>En construccion.</h1>

<h2>Esta funcionalidad estará disponible próximamente...</h2>
<h2><a href="{{ path('home')}}">Volver al home</a></h2>

{% endblock %}
