{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('grupoUsuario') }}" class="">Grupos de usuarios</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Detalle</a></li>
{% endblock %}
{% block page %}
    <div class="row">

        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s10 m10 l10">
                    <h4 class="header">Detalle del grupo</h4>
                </div>
            </div>
            <div class="row">


                <div class="col s12 m12 l12">
                    <div class="panel panel-grupos center-align">
                        <h5>Grupo: <span><strong>{{ grupo }}</strong></span></h5>
                        <h6>Usuarios: <span><strong>{{ grupo.usuarios|length  }}</strong></span> </h6>
                        <a href="usuarios-docentes-editar_directivo.html" data-position="bot" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light"><i class="icon-linear-pencil"></i></a>
                        <a href="#" data-position="bot" data-delay="25" data-tooltip="Imprimir" class="tooltipped btn-small btn waves-effect waves-light"><i class="icon-linear-printer"></i></a>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col s12 mar-top-soft">
                    <ul class="collection">
                        {% for usuario in grupo.usuarios %}
                            <li class="collection-item">
                                <a href="grupos-fichausuario_directivo.html">
                                    <span>{{ usuario }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div><!--  End Tables Section  -->

    </div>
{% endblock %}
