{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('padre') }}" class="b-focus">Padres</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" >Detalle tutor</a></li>

{% endblock %}
{% block page %}
    <div class="container fadeIn animated">
        <div class="row">
            <div class="col s12 m12 l12">
                <form id="formulario" class="well" action="{{ path('reporte') }}" method="post">
                    <input  type="hidden" id="from" name="from" value="Materia"/>
                    <input  type="hidden" id="where" name="where"/>
                    <input  type="hidden" id="joinT" name="joinT"/>
                    <input  type="hidden" id="joinW" name="joinW"/>
                    <input  type="hidden" id="count" name="count" value="no"/>
                    <div class="row" style="height: 100px;" >
                        <input type="checkbox"  name="campo[]" value="nombre" checked style="float: right; position: relative;
  left: 0px;
   visibility: visible;"/>
                    </div>
                    <div class="row" style="height: 100px;" >
                        <input type="text" class="campo" value=""  campo="nombre" />
                        <select id="opnombre">
                            <option value="like">=</option>
                            <option value="<"><</option>
                            <option value=">">></option>
                        </select>
                    </div>
                    <div class="row" style="height: 100px;" >
                        <input type="text" class="campo" value=""  campo="tipoMateria" />
                        <select id="optipoMateria">
                            <option value="=">=</option>
                            <option value="<"><</option>
                            <option value=">">></option>
                        </select>
                    </div>
                    <div class="row" style="height: 100px;" >
                        <input type="text" class="campo" value=""  campo="telefono" />
                        <select id="optelefono">
                            <option value="like">=</option>
                            <option value="<"><</option>
                            <option value=">">></option>
                        </select>
                    </div>
                    <div class="row">
                        <a onclick="armarWhere()" href="#">PROBAR JSCRIPT</a>
                        <button class="btn-large waves-effect waves-light center-align mar-right" type="submit">Crear</button>
                    </div>
                </form>
            </div>
        </div><!--  end row  -->
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function armarWhere(){
            var where = "";
            $('.campo').each(function(index){
                if( $(this).val().length > 0) {
                    where += "a." + $(this).attr('campo') + " " + $('#op' + $(this).attr('campo')).val() + " '" + $(this).val() + "' and ";
                }
            });
            where = where.substring(0, where.length - 5);
            $('#where').val(where);
            armarJoin();
        }
        function armarJoin(){
            var where = "";/*
            $('#joinT').val('DocenteMateria');
            $('#joinW').val("b.materia and b.docente = 1 ");*/
            /*$('#joinT').val('GrupoAlumnoMateria');
            $('#joinW').val("b.materia and b.grupoAlumno = 9 ");*/
            $('#joinT').val('DocenteMateria');
            $('#joinW').val("b.materia and b.docente = 1 ");
            enviarConsulta();
        }

        function enviarConsulta(){

            $('#formulario').submit();
        }

    </script>
{% endblock %}
