{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}Notificaciones{% endblock %}
{% block page %}
<div class="row">
    <div class="col s12 m12 l12 mar-top-soft">
      <h4 class="header">Tus notificaciones</h4>
    </div>
</div>
<div class="row">
  <div class="col s12">
      <ul class="notification-c">
        {% import 'BoletinesBundle::_macros.html.twig' as macros %}
        {% for notificacion in app.user.getNotificaciones %}
          {{ macros.show_notificacionUsuario(notificacion) }}
          <div class="divider"></div>
        {% endfor %}
      </ul>
  </div>
</div>
{#
<!-- loader del infinit scroll -->
<div class="row">
    <div class="col s12 center-align">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
</div>
<!-- loader del infinit scroll-->
#}
{% endblock %}
