<div class="navbar-fixed">

    <ul id="dropdown1" class="dropdown-content drop-user-f">
        <div clasS="notifi"><h6>Seleccionar hijo</h6></div>
        <li><a href="#!" class="t-s duactive"><img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-nav-drop circle1"> Antonella peacecraft</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s "><img src="{{ asset('bundles/boletines/images/student-avatar-m.png')}}" alt="as" class="avatar-nav-drop circle1"> Juan Peacecraft</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s "><img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-nav-drop circle1"></i> Relena Peacecraft</a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s du"><i class="icon-linear-user-plus left"></i> Editar perfil</a></li>
        <li><a href="#!" class="t-s du"><i class="icon-linear-exit-left left"></i> Cerrar sesión</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content drop-notification">
        <span class="circle dot"></span>
        <div clasS="notifi"><h6>Notificaciones</h6></div>
        <li><a href="#!" class="t-s">Las asistencias han sido actualizadas<br><span class="ts-s">Hace 20 minutos</span></a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s">Su hijo se porto mal<br><span class="ts-s">Hace 2 horas</span></a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s">Suspensión de clases<br><span class="ts-s">Ayer</span></a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content drop-messages">
        <span class="circle dot"></span>
        <div clasS="notifi"><h6>Mensajes</h6></div>
        <li><a href="#!" class="t-s"><b>Javier alonso</b> te ha enviado un mensaje<br><span class="ts-s">Hace 10 minutos.</span></a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s"><b>John Pol</b> te ha enviado un mensaje<br><span class="ts-s">Hace 20 minutos.</span></a></li>
        <li class="divider"></li>
        <li><a href="#!" class="t-s"><b>Eugenia Leto</b> te ha enviado un mensaje<br><span class="ts-s">Hace 20 minutos.</span></a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class=""><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="icon-linear-menu"></i></a>

                <ul class="breadcrumb left hide-on-small-only">
                    <li><a href="#" class="b-focus">Inicio</a></li>
                </ul>
                <ul class="right fix">
                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown2"><i class="icon-linear-alarm"><span class="badge1 badge1-danger circle">3</span></i></a></li>
                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown3"><i class="icon-linear-envelope"><span class="badge1 badge1-danger circle">1</span></i></a></li>


                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown1">Sr Peacecraft<i class="icon-linear-chevron-down right"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>