{% extends '::base.html.twig' %}

{% block body -%}

{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

{#<form action="{{ path('login_check') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {#&#123;&#35;#}
        {#Si deseas controlar la URL a la que rediriges al#}
        {#usuario en caso de éxito (más detalles abajo)#}
        {#<input type="hidden" name="_target_path" value="/account" />#}
    {#&#35;&#125;#}

    {#<button type="submit">login</button>#}
{#</form>#}




<div class="container login">

    <div class="login-wrapper">
        <form action="{{ path('login_check') }}" method="post">
            <div class="center-align"><img class="responsive-img" src="images/isologotipoFull.jpg" width="380"></div>
            <H5 class="center-align">Inicia sesión para continuar</H5>
            <div class="row">
                <div class="input-field col s12">
                    <i class="icon-linear-user prefix"></i>
                    <input id="icon_prefix" type="text"  name="_username" class="validate">
                    <label for="icon_prefix">DNI</label>
                </div><br>
                <div class="input-field col s12">
                    <i class="icon-linear-lock prefix"></i>
                    <input id="icon_telephone" type="password" name="_password" class="validate">
                    <label for="icon_telephone">Contraseña</label>
                </div>
                <div class="col s12" style="margin-bottom: 15px;">
                    <form action="#">
                        <p class="center-align">
                            <input type="checkbox" id="test5" />
                            <label for="test5">Permanecer conectado</label>
                        </p>
                    </form>
                </div>
                <div class="col s12 center-align">
                    <button type="submit">login</button>

                    {#<a href="#" class="btn-large waves-effect waves-light center-align btn100p">Ingresar</a>#}
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}
