{% extends '::base.html.twig' %}

{% block body -%}
    <main> <!-- startMain content-->
        <div class="container fadeIn animated">
            <div class="row mar-top-soft">
                <div class="col s12 m8 l8">
                    <h3 class="header">Belgrano Day School</h3>
                    <h5 class="header">Nivel secundario</h5>
                </div>
                <div class="col s12 m4 l4 center-align">
                    <img src="images/belgranods.jpg" alt="as" class="inst-thumb mar-top-soft">
                </div><!--  End Tables Section  -->
            </div>
            <div class="divider mar-top-soft"></div>

            <div class="row mar-top-soft">
                <div class="col s12 mar-bot">
                    <h3 class="header">Tablero</h3>
                </div>
                <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
                    <div class="row">
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-graduation-hat d-d-i"></i>  148</h3><h5>Alumnos</h5>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-man-woman d-d-i"></i>  397</h3><h5>Padres</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->
                <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
                    <div class="row ">
                        <div class="col s12">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-notification b-d-i w-red"></i>  5</h3><h5>Reportes de bullyng</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->

                <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
                    <div class="row ">
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-users2 d-d-i"></i>  32</h3><h5>Docentes</h5>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-user d-d-i"></i>  4</h3><h5>Bedeles</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->

                <div class="col s12 m6 l6 center-align"> <!-- startWidget 1-->
                    <div class="row ">
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-tie d-d-i"></i>  2</h3><h5>Directivos</h5>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="panel panel-fix-da">
                                <h3><i class="icon-linear-laptop d-d-i"></i>  4</h3><h5>Administrativos</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->




            </div>


        </div>
    </main>

{% endblock %}
