{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entidad creation</h1>




    <form action="{{ path('entidad_new') }}" method="post">

        <input type="text" placeholder="nombre" name="nombreEntidad"><br/>
        <input type="text" placeholder="idTipoEntidad" name="idTipoEntidad"><br/>
        <select name="idEntityRelacionada">
            {% for entity in entitiesRelacionadas %}

                <option value="{{entity.idEntityRelacionada}}">{{entity._toString()}}</option>

            {% endfor %}

        </select>
        <br/><br/><br/>

        <button type="submit" >Crear Entidad</button>


        <br/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('entidad') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
