{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GrupoAlumno creation</h1>


    <form action="{{ path('grupoAlumno_new') }}" method="post">

        <input type="text" placeholder="nombre" name="nombreGrupoAlumno"><br/>
        <input type="checkbox"  name="esCurso" value="0"><br/>

        <br/><br/><br/>

        <button type="submit" >Crear GrupoAlumno</button>


        <br/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('grupoAlumno') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
