{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('usuario_index_admin') }}" class="">Usuarios</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Nuevo Usuario</a></li>
{% endblock %}

{% block page %}

  <div class="row mar-top-soft">

    <div class="col s12 m8 l8">
    <h3 class="header">{{ institucion.nombre }}</h3>
    </div>
    <div class="col s12 m4 l4 center-align">
      {% set assetPath = school_blank %}
      {% if institucion.logo %}
        {% if file_exists(institucion.webPath) %}
          {% set assetPath = institucion.webPath %}
        {% endif %}
      {% endif %}
      <img src="{{ asset(assetPath) }}" alt="as" class="inst-thumb mar-top-soft">
    </div><!--  End Tables Section  -->

</div>
<div class="divider mar-top-soft"></div>

    <div class="row mar-top-soft">

    <div class="col s12 m8 l12">
    <h3 class="h-h3"><i class="icon-linear-plus"></i> Nuevo Usuario Directivo/Administrativo</h3>
    <h5 class="header">Todos los campos son obligatorios</h5>
    </div>
    <form action="{{ path('usuario_new_institucion',  {'institucionId': institucion.id }) }}" method="post">
      <div class="row">
        <div class="input-field col s12 m6 l6">
            <input name="nombre" id="nombre" type="text" class="validate">
            <label for="nombre">Nombre</label>
        </div>
          <div class="input-field col s12 m6 l6">
              <input name="apellido" id="apellido" type="text" class="validate">
              <label for="apellido">Apellido</label>
          </div>
        <div class="input-field col s12 m6 l6">
            <input name="email" id="email" type="text" class="validate">
            <label for="email">Email</label>
        </div>
          <div class="input-field col s12 m6 l6">
              <input name="password" id="password" type="text" class="validate">
              <label for="password">Password</label>
          </div>
  </div>
        <div class="row">
            <button name="directivo" type="submit" class="btn-large waves-effect waves-light center-align">Crear Usuario Directivo</button>
            <button name="administrativo" type="submit" class="btn-large waves-effect waves-light center-align">Crear Usuario Administrativo</button>
        </div>
    </form>


   <!--  End Tables Section  -->

</div>




{% endblock %}
